# Create a new List using existing list
#If we change an element in New List the existing List element also changes
#How to change the new list without affecting the Existing list

In [70]:
#List_1 created as List
List_1 = [1,2,3,4,5]

#Use Copy function instead

#Assign List_1 to List_2
List_2 = List_1

print("original List: ", List_1)
print("After Assignment of List_1 to List_2: ", List_2)

#Typecast List_1 to Tuple, so that List of values in List_1 are Immutable
List_1 = tuple(List_1)

#Replace Element at index 1 to value 6
List_2[1] = 6

#Print Both Lists
print("After replacement of element in List_2: List_1 = ",List_1)
print("After replacement of element in List_2: List_1 = ",List_2)

original List:  [1, 2, 3, 4, 5]
After Assignment of List_1 to List_2:  [1, 2, 3, 4, 5]
After replacement of element in List_2: List_1 =  (1, 2, 3, 4, 5)
After replacement of element in List_2: List_1 =  [1, 6, 3, 4, 5]

# Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [6]:
# Input List
inp_List_1 = [34, 54, 67, 89, 11, 43, 94]
print('Original list ',inp_List_1)
#Store Element at Index 4 before removing from the list
storeElem = inp_List_1[4]

#Remove the element from Index 4
inp_List_1.pop(4)
print('List After removing element at index 4 ',inp_List_1)

#Insert the Stored Element at Position 2
inp_List_1.insert(2,storeElem)
print('List after Adding element at index 2 ',inp_List_1)

#Add Stored Element to the Last Index
inp_List_1.append(storeElem)
print('List after Adding element at last ',inp_List_1)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

# Exercise Question 2: Given a Python list you should be able to display Python list in the following order


The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

In [9]:
#Input list
inp_List_2 = [100, 200, 300, 400, 500]
print('The Original List is: ',inp_List_2)

#Reverse the input list
inp_List_2.reverse()
print('The Expected result is: ',inp_List_2)

The Original List is:  [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

# Exercise Question 3: Concatenate (join) two lists in the following order#

The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

In [20]:
#list 1
inp_List3_1 = ['Hello ', 'take ']
print('The original list1: ', inp_List3_1)

#List 2
inp_List3_2 =  ['Dear', 'Sir']
print('The original list2: ', inp_List3_2)

#Concatenate two list using extend function
inp_List3_1.extend(inp_List3_2)
print('The Expected result is: ', inp_List3_1)

The original list1:  ['Hello ', 'take ']
The original list2:  ['Dear', 'Sir']
The Expected result is:  ['Hello ', 'take ', 'Dear', 'Sir']

# Exercise Question 4: Add item 7000 after 6000 in the following Python List
#The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [34]:
#input List
inp_List_4 =  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print ('The original list is: ', inp_List_4)

#get the nested List Element at Index 2, 2
inp_List_4[2][2]
print ('Extarcted element at index 2: ', inp_List_4[2][2])

#Append 7000 to the Nested list
inp_List_4[2][2].append(7000)
print ('The expected list is: ', inp_List_4)

The original list is:  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Extarcted element at index 2:  [5000, 6000]
The expected list is:  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

#The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
#The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [43]:
#input list
inp_List_5 = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
print('The original List is: ', inp_List_5)

#Sublist to be added
inp_List_5_1 = ["h", "i", "j"]

#Traverse to nested list [2][1][2]
print('Traverse to Nested List at [2][1][2]: ', inp_List_5[2][1][2])

#add the Sublist to the traversed nested List
inp_List_5[2][1][2].extend(inp_List_5_1)
print('The expected result is: ',inp_List_5)

The original List is:  ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
Traverse to Nested List at [2][1][2]:  ['f', 'g']
The expected result is:  ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
#The original list is: [5, 10, 15, 20, 25, 50, 20]
#The expected output is: [5, 10, 15, 200, 25, 50, 20]

In [68]:
#input list
inp_List_6 = [5, 10, 15, 20, 25, 50, 20]
print ('The original list is: ', inp_List_6)

index_1 = inp_List_6.index(20)
inp_List_6[index_1]




#Find value 20 in the list
for elem in inp_List_6:
    if elem == 20:
        
        print('Element with value 20: ', elem)
        print('index: ', inp_List_6.index(elem))

        #Replace the first occurance of element with value 20 with 200
        inp_List_6[inp_List_6.index(elem)]=200
        break
        
## The 20 occuring 2nd after the Index always points to the first why??????
    else:
        print('Other Elements: ', elem)
        print('index: ', inp_List_6.index(elem)) 
        
        
print('The expected output is: ',inp_List_6)

The original list is:  [5, 10, 15, 20, 25, 50, 20]
The expected output is:  [5, 10, 15, 200, 25, 50, 20]

In [1]:
review = " i love    india     "
" ".join(review.split())

'i love india'

In [2]:
num=1.658787
print("to 3 decimal point {:.3f}".format(num))

to 3 decimal point 1.659

In [10]:
if True:
    print("true")
    print("good")
else:
    print("bad")

true
good

In [22]:
Score = int(input("Please enter you Score: "))
#Check if score >=90
if Score >= 90:
    print("Your grade is A")
#Check if score >=70 and below 90
elif (Score >= 70 and Score < 90):
     print("Your grade is B")
#for any other scores
else:
     print("Your grade is C")

Please enter you Score: 92
Your grade is A