# Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels

In [2]:
#Import Numpy library package
import numpy as np

#Sample Exam Data
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [3]:
#Importing Pandas for Data Exploration
import pandas as pd

In [4]:
# Get the Count of the records
ord_count = pd.DataFrame(exam_data).count()[0]

#Create DataFrame
#Create index to be in alphabetic range using row count as the end range 
pd_df = pd.DataFrame(exam_data, index=[chr(x) for x in range(ord('a'), ord('a') + ord_count)])

print(pd_df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
Use Data from previous problem

In [5]:
selected_pd = pd_df.loc[(pd_df['attempts'] < 2) & (pd_df['score'] > 15)]
print("Number of attempts in the examination is less than 2 and score greater than 15 :\n",selected_pd)

Number of attempts in the examination is less than 2 and score greater than 15 :
     name  score  attempts qualify
j  Jonas   19.0         1     yes

# Exerise 3: Change the value in row 'd' to 11.5¶
Use Data from previous questions

In [6]:
print("Original data frame: \n",pd_df)
# Change the value in row 'd' to 11.5
pd_df.loc['d','score'] = 11.5

print("\nChange the score in row 'd' to 11.5: \n", pd_df)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.

In [7]:
#the sum of the examination attempts by the students
print("The sum of the examination attempts by the students: ",pd_df['attempts'].sum())

The sum of the examination attempts by the students:  19

# Exercise 5: Drop a list of rows from a specified DataFrame¶
data:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [8]:
#Sample Data
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

#Create DataFrame using Sample data
data_df = pd.DataFrame(d)
print("Original Dataframe:\n",data_df)

Original Dataframe:
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [9]:
"""
Signature:
data_df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.
"""
print("Drop rows of index 0 and 4 from the DataFrame:\n", data_df.drop([0,4]))
#data_df.drop(index=[0,4])

Drop rows of index 0 and 4 from the DataFrame:
    col1  col2  col3
1     4     5     8
2     3     6     9
3     4     7     0

# Exercise 6: Check whether a given column is present in a DataFrame or not
data:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [10]:
d_1 = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data_df_1 = pd.DataFrame(d_1)
col_name = input("Enter the column name to validate if present in a DataFrame or not: ")
if col_name in data_df_1.columns:
    print('{} is present in DataFrame'.format(col_name))
else:
    print('{} is not present in DataFrame'.format(col_name))

Enter the column name to validate if present in a DataFrame or not: col2
col2 is present in DataFrame

# Exercise 7: Get column index from column name of a given DataFrame¶
data:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

HINT: Try using a function called get_loc():
Syntax: dataframe.columns.get_loc()

In [14]:
col_index_d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

#Create Dataframe object using the Sample data
col_index_df = pd.DataFrame(col_index_d)

#Get the Index of the Columns
col_name = input("Enter the Column name to find the column index: ")
print("Original DataFrame: \n",col_index_df)
if(col_name in col_index_df.columns.values):
    print("\nIndex of '{}' {}".format(col_name, col_index_df.columns.get_loc(col_name)))
else:
    print("\n{} Column name not present in DataFrame".format(col_name))

Enter the Column name to find the column index: col1
Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col1' 0

# Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [59]:
sel_col_d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

#Create DataFrame using sample data
sel_col_df = pd.DataFrame(sel_col_d)
print("Original DataFrame: \n", sel_col_df)

col_name = input("\nInput Column name not to be displayed: ")
print("\nAll columns except '{}': \n".format(col_name),sel_col_df.loc[:,sel_col_df.columns != col_name])

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Input Column name not to be displayed: col3

All columns except 'col3':
    col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

# Exercise 9: Write a Pandas program to remove last n rows of a given DataFrame.

In [77]:
rem_col_d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
"""
Signature:
rem_col_df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.
"""
#Create DataFrame using sample data
rem_col_df = pd.DataFrame(rem_col_d)

print("Original DataFrame: \n", rem_col_df)

n_rows = int(input("\nEnter no.  of rows to be removed from the last: "))

rem_col_df.drop(index=rem_col_df.tail(n_rows).index,inplace=True)
print("\nAfter removing last 3 rows of the said DataFrame: \n",rem_col_df)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Enter no.  of rows to be removed from the last: 2

After removing last 3 rows of the said DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

# Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes
use IMDB-Movie-Data.csv

In [93]:
mov_imdb_df = pd.read_csv("..\Python_Pandas_Day_5\IMDB-Movie-Data.csv")
mov_imdb_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [92]:
print("List of movies longer than 30 minutes and shorter than 360 minutes:\n",mov_imdb_df.loc[((mov_imdb_df['Runtime (Minutes)']>30) & (mov_imdb_df['Runtime (Minutes)']<360)),["Title","Runtime (Minutes)"]])

List of movies longer than 30 minutes and shorter than 360 minutes:
                        Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]